In [16]:
import os 
import pandas as pd 
from bs4 import BeautifulSoup
from io import StringIO

In [ ]:
%pip install pandas

In [ ]:
SCORE_DIR = "data/scores"

In [ ]:
box_scores = os.listdir(SCORE_DIR)

In [ ]:
box_scores

In [ ]:
len(box_scores)

In [ ]:
box_scores = [os.path.join(SCORE_DIR, f) for f in box_scores if f.endswith(".html")]

In [ ]:
box_scores

In [10]:
def parse_html(box_score):
    with open(box_score) as f:
        html = f.read()
    soup = BeautifulSoup(html)
    [s.decompose() for s in soup.select("tr.over_header")]
    [s.decompose() for s in soup.select("tr.thead")]
    return soup

In [ ]:
def read_line_score(soup): #use pandas to process html table as dataframe
    line_score = pd.read_html(str(soup), attrs={"id":"line_score"})[0]
    cols = list(line_score.columns)
    cols[0] = "team"
    cols[-1] = "total"

In [17]:
box_score = box_scores[0]
soup = parse_html(box_score)
html_string = str(soup)
html_buffer = StringIO(html_string)
df = pd.read_html(html_buffer, attrs={"id": "line_score"})[0]
df

  Unnamed: 0   1   2   3   4    T
0        BOS  19  19  33  28   99
1        CLE  29  25  18  30  102

In [ ]:
#soup