In [50]:
import pandas as pd

In [51]:
df = pd.read_csv("nba_games.csv", index_col=0)

In [52]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,seasons,date,won
0,240.0,240.0,36.0,88.0,0.409,8.0,32.0,0.250,19.0,25.0,...,31.6,27.3,138.0,107.0,CLE,102,1,2018,2017-10-17,False
1,240.0,240.0,38.0,83.0,0.458,5.0,22.0,0.227,21.0,25.0,...,34.7,29.9,129.0,112.0,BOS,99,0,2018,2017-10-17,True
2,240.0,240.0,47.0,97.0,0.485,15.0,41.0,0.366,13.0,19.0,...,31.7,32.6,250.0,127.0,GSW,121,1,2018,2017-10-17,True
3,240.0,240.0,43.0,80.0,0.538,16.0,30.0,0.533,19.0,21.0,...,18.2,31.2,152.0,126.0,HOU,122,0,2018,2017-10-17,False
4,240.0,240.0,38.0,76.0,0.500,7.0,21.0,0.333,25.0,30.0,...,33.3,43.9,147.0,119.0,BOS,100,1,2018,2017-10-18,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19525,240.0,240.0,40.0,77.0,0.519,7.0,19.0,0.368,23.0,29.0,...,25.8,35.8,228.0,119.0,PHI,105,0,2025,2025-02-26,True
19526,240.0,240.0,46.0,87.0,0.529,15.0,36.0,0.417,11.0,12.0,...,20.0,25.7,203.0,129.0,UTA,101,1,2025,2025-02-26,True
19527,240.0,240.0,38.0,84.0,0.452,16.0,44.0,0.364,9.0,17.0,...,25.0,28.2,174.0,111.0,SAC,118,0,2025,2025-02-26,False
19528,240.0,240.0,45.0,101.0,0.446,12.0,37.0,0.324,27.0,35.0,...,75.0,28.6,194.0,128.0,WAS,121,1,2025,2025-02-26,True
19529,240.0,240.0,43.0,83.0,0.518,12.0,36.0,0.333,23.0,33.0,...,34.7,43.4,143.0,117.0,POR,129,0,2025,2025-02-26,False

In [53]:
df = df.sort_values("date")

In [54]:
df = df.reset_index(drop=True)

In [55]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,seasons,date,won
0,240.0,240.0,36.0,88.0,0.409,8.0,32.0,0.250,19.0,25.0,...,31.6,27.3,138.0,107.0,CLE,102,1,2018,2017-10-17,False
1,240.0,240.0,38.0,83.0,0.458,5.0,22.0,0.227,21.0,25.0,...,34.7,29.9,129.0,112.0,BOS,99,0,2018,2017-10-17,True
2,240.0,240.0,47.0,97.0,0.485,15.0,41.0,0.366,13.0,19.0,...,31.7,32.6,250.0,127.0,GSW,121,1,2018,2017-10-17,True
3,240.0,240.0,43.0,80.0,0.538,16.0,30.0,0.533,19.0,21.0,...,18.2,31.2,152.0,126.0,HOU,122,0,2018,2017-10-17,False
4,240.0,240.0,42.0,97.0,0.433,6.0,22.0,0.273,30.0,38.0,...,23.0,31.2,148.0,125.0,PHI,115,0,2018,2017-10-18,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19525,240.0,240.0,38.0,93.0,0.409,23.0,61.0,0.377,22.0,25.0,...,23.1,29.3,186.0,132.0,OKC,129,0,2025,2025-02-26,False
19526,240.0,240.0,48.0,90.0,0.533,9.0,30.0,0.300,24.0,29.0,...,33.7,26.5,181.0,137.0,BRK,121,1,2025,2025-02-26,True
19527,240.0,240.0,45.0,101.0,0.446,12.0,37.0,0.324,27.0,35.0,...,75.0,28.6,194.0,128.0,WAS,121,1,2025,2025-02-26,True
19528,240.0,240.0,48.0,102.0,0.471,11.0,38.0,0.289,11.0,14.0,...,17.5,32.5,217.0,125.0,SAS,106,0,2025,2025-02-26,True
19529,240.0,240.0,43.0,83.0,0.518,12.0,36.0,0.333,23.0,33.0,...,34.7,43.4,143.0,117.0,POR,129,0,2025,2025-02-26,False

In [56]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [60]:
df = df.copy()
def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team
df["target"] = df.groupby("team")["won"].shift(-1)

In [61]:
df["team"]

0        BOS
1        CLE
2        HOU
3        GSW
4        WAS
        ...
19525    BRK
19526    OKC
19527    POR
19528    HOU
19529    WAS
Name: team, Length: 19530, dtype: object

In [62]:
df[df["team"]=="WAS"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,seasons,date,won,target
4,240.0,42.0,97.0,0.433,6.0,22.0,0.273,30.0,38.0,0.789,...,31.2,148.0,125.0,PHI,115,0,2018,2017-10-18,True,True
33,240.0,40.0,75.0,0.533,6.0,17.0,0.353,29.0,35.0,0.829,...,43.6,215.0,122.0,DET,111,0,2018,2017-10-20,True,True
91,240.0,37.0,84.0,0.440,9.0,30.0,0.300,26.0,28.0,0.929,...,35.1,272.0,115.0,DEN,104,1,2018,2017-10-23,True,False
117,265.0,39.0,95.0,0.411,6.0,26.0,0.231,15.0,23.0,0.652,...,32.9,129.0,98.0,LAL,102,1,2018,2017-10-25,False,False
147,240.0,43.0,97.0,0.443,15.0,33.0,0.455,16.0,22.0,0.727,...,30.9,210.0,122.0,GSW,120,1,2018,2017-10-27,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19387,265.0,47.0,97.0,0.485,23.0,45.0,0.511,13.0,16.0,0.813,...,28.9,154.0,123.0,IND,134,0,2025,2025-02-12,False,False
19440,240.0,35.0,87.0,0.402,12.0,39.0,0.308,19.0,27.0,0.704,...,46.9,150.0,111.0,MIL,104,0,2025,2025-02-21,False,False
19465,240.0,32.0,78.0,0.410,10.0,38.0,0.263,16.0,22.0,0.727,...,33.9,300.0,98.0,ORL,110,1,2025,2025-02-23,False,True
19483,240.0,35.0,70.0,0.500,13.0,31.0,0.419,24.0,25.0,0.960,...,30.7,175.0,126.0,BRK,99,0,2025,2025-02-24,True,False
19529,240.0,43.0,83.0,0.518,12.0,36.0,0.333,23.0,33.0,0.697,...,43.4,143.0,117.0,POR,129,0,2025,2025-02-26,False,NaN

In [64]:
df["target"][pd.isnull(df["target"])] = 2

C:\Users\tahsi\AppData\Local\Temp\ipykernel_2608\1618397414.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["target"][pd.isnull(df["target"])] = 2
C:\Users\tahsi\AppData\Local\Temp\ipykernel_2608\1618397414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [65]:
df["target"] = df["target"].astype(int, errors="ignore")

In [66]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,seasons,date,won,target
0,240.0,36.0,88.0,0.409,8.0,32.0,0.250,19.0,25.0,0.760,...,27.3,138.0,107.0,CLE,102,1,2018,2017-10-17,False,0
1,240.0,38.0,83.0,0.458,5.0,22.0,0.227,21.0,25.0,0.840,...,29.9,129.0,112.0,BOS,99,0,2018,2017-10-17,True,1
2,240.0,47.0,97.0,0.485,15.0,41.0,0.366,13.0,19.0,0.684,...,32.6,250.0,127.0,GSW,121,1,2018,2017-10-17,True,1
3,240.0,43.0,80.0,0.538,16.0,30.0,0.533,19.0,21.0,0.905,...,31.2,152.0,126.0,HOU,122,0,2018,2017-10-17,False,1
4,240.0,42.0,97.0,0.433,6.0,22.0,0.273,30.0,38.0,0.789,...,31.2,148.0,125.0,PHI,115,0,2018,2017-10-18,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19525,240.0,38.0,93.0,0.409,23.0,61.0,0.377,22.0,25.0,0.880,...,29.3,186.0,132.0,OKC,129,0,2025,2025-02-26,False,2
19526,240.0,48.0,90.0,0.533,9.0,30.0,0.300,24.0,29.0,0.828,...,26.5,181.0,137.0,BRK,121,1,2025,2025-02-26,True,2
19527,240.0,45.0,101.0,0.446,12.0,37.0,0.324,27.0,35.0,0.771,...,28.6,194.0,128.0,WAS,121,1,2025,2025-02-26,True,2
19528,240.0,48.0,102.0,0.471,11.0,38.0,0.289,11.0,14.0,0.786,...,32.5,217.0,125.0,SAS,106,0,2025,2025-02-26,True,2
19529,240.0,43.0,83.0,0.518,12.0,36.0,0.333,23.0,33.0,0.697,...,43.4,143.0,117.0,POR,129,0,2025,2025-02-26,False,2

In [67]:
df["won"].value_counts()

won
False    9765
True     9765
Name: count, dtype: int64

In [68]:
df["target"].value_counts()

target
0    9750
1    9750
2      30
Name: count, dtype: int64

In [69]:
nulls = pd.isnull(df)

In [72]:
nulls = nulls.sum()

In [77]:
nulls = nulls[nulls>0]

In [78]:
valid_col

ft%                 1
gmsc            19530
+/-             19530
mp_max          19530
mp_max.1        19530
ft%_max             1
+/-_max            15
ft%_opp             1
gmsc_opp        19530
+/-_opp         19530
mp_max_opp      19530
mp_max_opp.1    19530
ft%_max_opp         1
+/-_max_opp        15
dtype: int64