In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("nba_games.csv", index_col=0)

In [42]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,seasons,date,won
0,240.0,240.0,36.0,88.0,0.409,8.0,32.0,0.250,19.0,25.0,...,31.6,27.3,138.0,107.0,CLE,102,1,2018,2017-10-17,False
1,240.0,240.0,38.0,83.0,0.458,5.0,22.0,0.227,21.0,25.0,...,34.7,29.9,129.0,112.0,BOS,99,0,2018,2017-10-17,True
2,240.0,240.0,47.0,97.0,0.485,15.0,41.0,0.366,13.0,19.0,...,31.7,32.6,250.0,127.0,GSW,121,1,2018,2017-10-17,True
3,240.0,240.0,43.0,80.0,0.538,16.0,30.0,0.533,19.0,21.0,...,18.2,31.2,152.0,126.0,HOU,122,0,2018,2017-10-17,False
4,240.0,240.0,38.0,76.0,0.500,7.0,21.0,0.333,25.0,30.0,...,33.3,43.9,147.0,119.0,BOS,100,1,2018,2017-10-18,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19525,240.0,240.0,40.0,77.0,0.519,7.0,19.0,0.368,23.0,29.0,...,25.8,35.8,228.0,119.0,PHI,105,0,2025,2025-02-26,True
19526,240.0,240.0,46.0,87.0,0.529,15.0,36.0,0.417,11.0,12.0,...,20.0,25.7,203.0,129.0,UTA,101,1,2025,2025-02-26,True
19527,240.0,240.0,38.0,84.0,0.452,16.0,44.0,0.364,9.0,17.0,...,25.0,28.2,174.0,111.0,SAC,118,0,2025,2025-02-26,False
19528,240.0,240.0,45.0,101.0,0.446,12.0,37.0,0.324,27.0,35.0,...,75.0,28.6,194.0,128.0,WAS,121,1,2025,2025-02-26,True
19529,240.0,240.0,43.0,83.0,0.518,12.0,36.0,0.333,23.0,33.0,...,34.7,43.4,143.0,117.0,POR,129,0,2025,2025-02-26,False

In [43]:
df = df.sort_values("date")

In [44]:
df = df.reset_index(drop=True)

In [45]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,seasons,date,won
0,240.0,240.0,36.0,88.0,0.409,8.0,32.0,0.250,19.0,25.0,...,31.6,27.3,138.0,107.0,CLE,102,1,2018,2017-10-17,False
1,240.0,240.0,38.0,83.0,0.458,5.0,22.0,0.227,21.0,25.0,...,34.7,29.9,129.0,112.0,BOS,99,0,2018,2017-10-17,True
2,240.0,240.0,47.0,97.0,0.485,15.0,41.0,0.366,13.0,19.0,...,31.7,32.6,250.0,127.0,GSW,121,1,2018,2017-10-17,True
3,240.0,240.0,43.0,80.0,0.538,16.0,30.0,0.533,19.0,21.0,...,18.2,31.2,152.0,126.0,HOU,122,0,2018,2017-10-17,False
4,240.0,240.0,42.0,97.0,0.433,6.0,22.0,0.273,30.0,38.0,...,23.0,31.2,148.0,125.0,PHI,115,0,2018,2017-10-18,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19525,240.0,240.0,38.0,93.0,0.409,23.0,61.0,0.377,22.0,25.0,...,23.1,29.3,186.0,132.0,OKC,129,0,2025,2025-02-26,False
19526,240.0,240.0,48.0,90.0,0.533,9.0,30.0,0.300,24.0,29.0,...,33.7,26.5,181.0,137.0,BRK,121,1,2025,2025-02-26,True
19527,240.0,240.0,45.0,101.0,0.446,12.0,37.0,0.324,27.0,35.0,...,75.0,28.6,194.0,128.0,WAS,121,1,2025,2025-02-26,True
19528,240.0,240.0,48.0,102.0,0.471,11.0,38.0,0.289,11.0,14.0,...,17.5,32.5,217.0,125.0,SAS,106,0,2025,2025-02-26,True
19529,240.0,240.0,43.0,83.0,0.518,12.0,36.0,0.333,23.0,33.0,...,34.7,43.4,143.0,117.0,POR,129,0,2025,2025-02-26,False

In [46]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [47]:
def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team
df = df.groupby("team",group_keys=False)

In [48]:
df["team"]